
body {
    background-color: #DAB1DA;
    background-image: url("images/FlowerTile.JPG");
    background-blend-mode:luminosity;
}

.content{
    font-family: 'Courier New', Courier, monospace, sans-serif;

    color: #efe7e7; 
    text-decoration: none; 
    font-size: 24px;
}

.title {
    font-family: 'Courier New', Courier, monospace, sans-serif;
    color: #eceef2;
    text-align: center;
    font-size: 36px;
    font-weight: bold;
}
h2{
    color:#efe7e7;
}
i{
    color: #efe7e7;}    
    
#home{
    color:bisque;   
}
#contact{
    color:rgb(229, 222, 222);
}
a:hover { 
    text-decoration: underline; 
}

a {
    text-decoration: none;
    color: #acb4c8;
    font-size: 20px;
    font-weight: 600;
}
.gallery {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    justify-content: center;
}